
#right {
    
    -fx-border-color: black;
    -fx-background-color: #000088;
}

#left {
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-background-color: #000088;
}

#bottom {
     -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-background-color: ##7FFFD4; 
}

#top {
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: black;
    -fx-background-color: ##7FFFD4; 
}

.button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#root {
    -fx-background-color: #000088;
}

#WallCount {
    -fx-fill: #CC4400;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#WallNumbers {
    -fx-fill: #CC4400;
    -fx-font-size: 16px;
}